{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="">
        <div class="text-decoration-underline text-center">
            <h1>JPete Online Books</h1>
        </div>
        <div class="text-left">
            <p>This website contains information about a variety of public domain books and is built using the <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask micro web framework</a> for Python.</p>
            <p>Currently, the aim of this website is to act as a repository of public domain books.</p>
        </div>
    </div>
    <h2 class="text-decoration-underline">Available Book Genres</h2>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fiction</h5>
                        <div class="card-text">
                            A range of books from Science Fiction to Horror Fiction to Romance.
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href='/products/fiction' role="button" class="btn btn-primary">View Genre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Romance</h5>
                        <div class="card-text">
                            A range of Romance books.
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href='/products/romance' role="button" class="btn btn-primary">View Genre</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Drama</h5>
                        <div class="card-text">
                            A range of Drama books.
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href='/products/drama' role="button" class="btn btn-primary">View Genre</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
</div>
{% endblock %}