{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <a class="btn btn-primary" role="button" href="https://jacksonpeters.dev/projects">Return to Projects</a>
        </div>
        <div class="col-4">
           <a class="btn btn-primary" role="button" href="https://jacksonpeters.dev/projects">Go to GitHub Repository</a> 
        </div>
    </div>
    <div>
        <p>This website, or web project, is constructed using the Python <a href="https://flask.palletsprojects.com/en/2.0.x/" target="blank">Flask</a> framework; a lightweight and fast tool to use to create a website.</p>
        <p>The end goal of this web project is to basically evolve it into a mockup online store (kind of like Amazon, although far smaller in scale), which will host tools like searching for products.</p>
        <p>Once the mock site is completed, a complete rundown will be provided on the <a href="https://jacksonpeters.dev/">main portfolio site</a>.</p>
    </div>
    <div>
        <h2>Page Links</h2>
        <ul>
            <li><a href="/products">Product Page</a></li>
            <li><a href="/authors">Authors</a></li>
            
        </ul>
    </div>
    <h2>Available Books</h2>
    <!-- 
   {% for i in item %}
    <p>{{i.title}} written by {{i.Author}}</p>
   {% endfor %}
    -->
</div>
{% endblock %}