{% extends 'base.html' %}
{%import 'bootstrap/wtf.html' as wtf %}

{%block content%}
    <div>
        <div class="text-decoration-underline text-center">
            <h2>All 
                {% if subGenre %}
                {{title.Sub_Genre}}
                {% endif%} {{title.Genre}}
                Books</h2>
        </div>
        
        <div class="m-2">
            <a href="/products" role="button" class="btn btn-primary">Return to Categories</a>
        </div>
        <div class="container border border-2 border-secondary">
            <h3>Filter Options</h3>
            <div class="">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Sub-Genre Options
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                       {% for g in item if Genre==Genre%}
                       <li><a href="/products/{{g.Genre}}/{{g.Sub_Genre}}">{{g.Sub_Genre|e}}</a></li>
                       {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-2">
                {% for i in item %}
                <div class="col">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{i.title}}</h5>
                            <img src="{{i.bookIMG}}" class="img-thumbnail rounded mx-auto d-block" />
                            <div class="card-text">
                                <p>Sub-Genre: {{i.Sub_Genre}}</p>
                                {{i.Description}}
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href='/products/book/{{i.id}}' role="button" class="btn btn-primary">View Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{%endblock%}